<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ 'title.app'|trans }}{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
        {% stylesheets 'css/*' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div class="wrapper">
            <ul id="login-panel">
                <li>{% render "CoreSphereLoginBundle:Widget:status" %}</li>
            </ul>
            <div id="main">
                {% include "CoreSphereCoreBundle:Snippet:message_box.html.twig" %}
                {% block content %}{% endblock %}
            </div>

        </div>
        {% endblock %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        {% javascripts 'js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
