<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}{{ 'title.app'|trans }}{% endblock %}</title>

        {% block meta %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% stylesheets  'css/reset.css'
                        'css/*'
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}
        <div class="wrapper">
            <ul id="login-panel">
                <li>{% render "CoreSphereLoginBundle:Widget:status" %}</li>
            </ul>
            <div id="main" class="content_box" role="main">
                {% include "CoreSphereCoreBundle:Snippet:message_box.html.twig" %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% endblock %}


        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        {% javascripts 'js/plugins/*' 'js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}


        {#
            Prompt IE 6 users to install Chrome Frame.
            Remove this if you want to support IE 6.
            chromium.org/developers/how-tos/chrome-frame-getting-started
        #}
        <!--[if lt IE 7 ]>
            <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
            <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
        <![endif]-->
    </body>
</html>
